@import "tailwindcss";

@theme inline {
  /* Neutrals */
  --color-background: #fffdfa;
  --color-foreground: #1f1f1f;
  --color-muted: #6b6b6b;
  --color-border: #e6ded6;

  /* Brand */
  --color-primary: #4f0c28;
  --color-primary-hover: #3a081e;
  --color-primary-soft: #f2e6eb;
}

:root {
  --bottom-nav-height: 72px;
}
@media (max-width: 640px) {
  :root {
    --bottom-nav-height: 64px;
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-plus-jakarta), sans-serif;
  letter-spacing: -0.01em;
}
